<button (click)="logLog()">Log Log</button>
<button (click)="logError()">Log Error</button>
<button (click)="logWarn()">Log Warn</button>


<app-employee-list></app-employee-list>






















<!-- <form [formGroup]="employeeForm" (ngSubmit)="putData()">
  <input type="text" formControlName="name" placeholder="name"> <br>
  <input type="text" formControlName="contact_number" placeholder="phone no"> <br>
  <input type="text" formControlName="address" placeholder="city"> <br>
  <input type="text" formControlName="salary" placeholder="salary"> <br>
  <input type="text" formControlName="employee_id" placeholder="emp id"> <br>
  <input type="text" formControlName="role" placeholder="role"> <br>

  <input type="submit" value="Update">
</form>

{{ employeeForm.value | json }} -->






























<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="firstName" placeholder="First Name"> <br>
  <input type="text" formControlName="lastName" placeholder="Last Name"> <br>

  <button type="submit">Submit</button>
</form> -->


<!-- {{ profileForm.value | json }} -->


<!-- <form [formGroup]="employeeForm" (ngSubmit)="postData()">
  <input type="text" formControlName="name" placeholder="name"> <br>
  <input type="text" formControlName="contact_number" placeholder="phone no"> <br>
  <input type="text" formControlName="address" placeholder="city"> <br>
  <input type="text" formControlName="salary" placeholder="salary"> <br>
  <input type="text" formControlName="employee_id" placeholder="emp id"> <br>
  <input type="text" formControlName="role" placeholder="role"> <br>

  <input type="submit" value="Add New Employee">
</form>

{{ employeeForm.value | json }} -->



<!-- //create/modify a form with following fields
name
contact_number
address
salary
employee_id
role -->





<!-- load data in form
use onNgInit to fetch data
const url = "https://janapp.netlify.app/.netlify/functions/api/employees/id"
load data in form using default FormControl Value

// const url = "https://janapp.netlify.app/.netlify/functions/api/employees/<id>"
    
  //https://janapp.netlify.app/.netlify/functions/api/employees/659c090aab6fd1a13593a603 -->
















<!-- <label>Name: </label>
<input type="text" [formControl]="name">

<p>
  The value of name is {{ name.value }}
</p> -->


























<!-- <input type="text" [(ngModel)]="num"/>

<br>

<button (click)="findSqr()">Get Square</button>

<br>

Current value of num is {{ num }}

<h1>{{output}}</h1> -->































<!-- <h1>Hello From Angular App</h1>

{{title}}

{{data}}

<table border="1">
  <tr *ngFor="let d of data">
    <td>{{d['first_name']}}</td>
  </tr>
</table> -->

<!-- 
  onload fetch data from reqres.in 
  show in html table using ngFor
-->

<!-- <button (click)="hitMe()">Hit Me</button> -->